<?xml version="1.0" encoding="utf-8"?>
<widget xmlns="http://www.w3.org/ns/widgets" version="1.0">

  <name>The Interrobanger</name>
  <description>Replaces '?!' and '!?' with an interrobang.</description>
  <author>Nicholas La Roux</author>
  <license href="http://www.opensource.org/licenses/mit-license.html">MIT</license>

  <access origin="*"/>

</widget>